In [1]:
import pandas as pd
import os

In [6]:
csv= pd.read_csv(filepath_or_buffer='../../challenges/1/annotations/challenge-9.csv', sep=';')
csv.head()

  source_id    label
0   100.png   Normal
1   101.png    Outro
2   102.png   Normal
3   103.png  Ruptura
4   104.png  Ruptura

In [25]:
# path_to_imgs = os.path.join('../../challenges/1/images/')
path_to_imgs = '../../challenges/1/images/'

In [43]:
def rename_files(row):
    classification = row['label']
    file_name = row['source_id']
    new_file_name = f'{classification}_{file_name}'
    os.rename(
        os.path.join(path_to_imgs, file_name),
        os.path.join(path_to_imgs, new_file_name)
    )

In [44]:
csv.apply(rename_files, axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
335    None
336    None
337    None
338    None
339    None
340    None
341    None
342    None
343    None
344    None
345    None
346    None
347    None
348    None
349    None
350    None
351    None
352    None
353    None
354    None
355    None
356    None
357    None
358    None
359    None
360    None
361    None
362    None
363    None
364    None
Length: 365, dtype: object